<%include _header%>
<h1>Bienvenid@ a la guarida zombie!</h1>

<% armas.forEach((arma)=>{%>
<div class="panel panel-default">
    <h4 style="font-stretch:extra-condensed">&nbsp;&nbsp;&nbsp;Arma:</h4>
    <% if(arma.descripcion){%>
        <div class="panel-body"><a>Descripcion:   </a><%= arma.descripcion%></div>
        <%}%>
    <% if(arma.categoria){%>
        <div class="panel-body"><a>Categoria:   </a><%= arma.categoria%></div>
        <%}%>
    <% if(arma.fuerza){%>
        <div class="panel-body"><a>Fuerza:   </a><%= arma.fuerza%></div>
    <%}%>
    <% if(arma.municiones){%>
        <div class="panel-body"><a>Municiones:   </a><%= arma.municiones%></div>
    <%}%>
    
    
</div>
<%})%>

<% include _footer%>